USE [master]
GO
/****** Object:  Database [NV_CDCNPM]    Script Date: 18-May-21 9:34:02 AM ******/
CREATE DATABASE [NV_CDCNPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NV_CDCNPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NV_CDCNPM.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NV_CDCNPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\NV_CDCNPM_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NV_CDCNPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NV_CDCNPM]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 18-May-21 9:34:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[PHAI] [nvarchar](5) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[NGAYSINH] [date] NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG]) VALUES (1, N'Nguyễn Thanh', N'Sơn', N'Nam', N'Quận Bình Thạnh', CAST(N'1999-02-12' AS Date), 2000)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG]) VALUES (2, N'Vũ Nguyễn Quỳnh', N'Như', N'Nữ', N'Quận Tân Phú', CAST(N'2000-03-01' AS Date), 1000)
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [LUONG]) VALUES (5, N'LÊ THỊ HƯƠNG', N'GIANG', N'NỮ', N'Quận 4', CAST(N'2002-04-06' AS Date), 800)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_PHAI] CHECK  (([PHAI]=N'Nữ' OR [PHAI]='Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_PHAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_DEL]    Script Date: 18-May-21 9:34:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DEL] @ID int
as
begin
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	begin tran
		delete from NHANVIEN where MANV = @ID
		waitfor delay '00:00:10'
	commit
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GETID]    Script Date: 18-May-21 9:34:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETID]
as
BEGIN
	if(select max(MANV)+1 as StaffID from NHANVIEN) is null
	select 1 as StaffID
	else select max(MANV)+1 as StaffID from NHANVIEN

	--SELECT
	--CASE
    --WHEN (SELECT COUNT(MANV) FROM NHANVIEN) = 0
       --THEN 1
    --ELSE IDENT_CURRENT('NHANVIEN') + 1
  --END AS Current_Identity;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_MERGE]    Script Date: 18-May-21 9:34:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MERGE] @ID int, @HO NVARCHAR(50), @TEN NVARCHAR(50), @PHAI NVARCHAR(5),
	@DIACHI NVARCHAR(200), @NGAYSINH DATE, @LUONG FLOAT
AS
BEGIN
	-- SET ISOLATION LEVEL --
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	BEGIN TRAN
		MERGE INTO dbo.NhanVien AS TARGET
		USING (SELECT  MANV=@ID,  HO=@HO, TEN=@TEN, PHAI=@PHAI, DIACHI=@DIACHI, NGAYSINH=@NGAYSINH,
		LUONG=@LUONG) AS Source
		ON Target.MANV= Source.MANV
		WHEN MATCHED THEN
		UPDATE 
		SET TARGET.HO=@HO, TARGET.TEN = @TEN, TARGET.PHAI = @PHAI, TARGET.DIACHI = @DIACHI, 
		TARGET.NGAYSINH = @NGAYSINH, TARGET.LUONG = @LUONG
		WHEN NOT MATCHED THEN
		INSERT (HO, TEN, PHAI, DIACHI, NGAYSINH, LUONG)
		VALUES (Source.HO, Source.TEN, Source.PHAI, Source.DIACHI, Source.NGAYSINH, 
		Source.Luong);

		-- WAIT TO A COMMIT --
		WAITFOR DELAY '00:00:10'
	-- ROLLBACK --
	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECT_DELAY]    Script Date: 18-May-21 9:34:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECT_DELAY] 
AS
BEGIN
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	BEGIN TRAN
	SELECT * FROM dbo.NHANVIEN
	WAITFOR DELAY '00:00:10' --wait for 10 seconds
	COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_WRITE]    Script Date: 18-May-21 9:34:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_WRITE] @ID int, @HO NVARCHAR(50), @TEN NVARCHAR(50), @PHAI NVARCHAR(5),
	@DIACHI NVARCHAR(200), @NGAYSINH DATE, @LUONG FLOAT 
AS
BEGIN
	-- SET ISOLATION LEVEL --
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
	BEGIN TRAN
	
	-- CHECK WHETHER ID HAS ALREADY EXISTED
	DECLARE @CHECKID BIT
	SET @CHECKID = 0

	IF EXISTS(SELECT MANV FROM NHANVIEN WHERE MANV = @ID)
	BEGIN
		SET @CHECKID = 1
	END
	
	-- IF ID HAS ALREADY EXISTED THEN EXECUTE UPDATING --
	-- IF ID HAS NOT ALREADY EXISTED THEN EXECUTE INSERTING --
	IF @CHECKID = 1
	BEGIN
		UPDATE NHANVIEN SET HO=@HO, TEN = @TEN, PHAI = @PHAI, DIACHI = @DIACHI, NGAYSINH = @NGAYSINH,
			LUONG = @LUONG WHERE MANV = @ID
	END
	
	ELSE
	BEGIN
		INSERT INTO NHANVIEN VALUES (@HO, @TEN, @PHAI, @DIACHI, @NGAYSINH, @LUONG)
	END

	-- WAIT -- 
	WAITFOR DELAY '00:00:30'

	COMMIT
END
GO
USE [master]
GO
